* {
    margin: 0%;
}
#fancy {
    font-size: 37px;
    
}
.header_wrapper {
    background: linear-gradient(201deg, #fbff00, hsla(34, 100%, 50%, 0.89));    
    /* background-color: rgba(241, 236, 194, 0.5) ; */
    display: flex;
    justify-content:space-around;
}
.fancybeatsh {
    font-size: 30px;
    padding-top: 6px;
    padding-bottom: 2px;   
}
h1 {
    font-variant: small-caps;
}
.menubar {
    color: white;
    background-color: rgb(126, 126, 126);
    font-family:'Courier New', Courier, monospace;
    cursor:pointer;
           
}
.menubar > ul > li{
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 40px;
    letter-spacing: 0.8px;
    margin: 1px;
    position: relative;
}
.menubar > ul > li:hover {
    color: rgb(248, 203, 0) ;
}
ul.sub_menu li {
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: -12px;
}
.headingp {
    vertical-align:middle;
}
.hero_image {
    background: url(images/photo-1505740420928-5e560c06d30e.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.hrheading {
    background-color:black ;
    height: 2px;
    box-shadow: 1px 1px 4px white;
}
.hero_wrapper {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 370px;
    transform: translate(-50%,-50%);
    max-width:380px ;
}

.hero_wrapper h1{
    color: white;
    font-size: 85px;
    -webkit-text-stroke: 0.5px rgba(219, 204, 255, 0.521);
    text-shadow: -2px 4px    04px black;
}
input {
    border: 4px solid rgb(255, 81, 0);
    border-radius: 50px;
    border-right-color:black;
    border-left-color:black;
    height: 35px;
    width:260px ;
    background: rgba(255, 255, 255, 0.774);
    padding: 0px 10px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    box-shadow: 2px 2px 8px black;
}
::placeholder {
    margin: 10px;
    padding : 10px;
    font-size: 15px;
    font-family:cursive;
}
.get {
    font-size: 16px;
    background-color: rgb(255, 81, 0);
    color : rgb(251, 255, 0) ;
    border: none;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    width:45px;
}
button:hover {
    color: green;
    
}
.search_wrap :hover {
    background-color: blanchedalmond;
}